*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.Heading{
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    width: 23% ;
    box-shadow: 0 0 4px 3px purple ;
    padding: 25px;
    text-align: center;
    margin-bottom: 30px;

}
.images{
    width: 80%;
}
.title{
    font-size: 20px;
    margin-bottom: 30px;

}
.category, .price{
    font-weight: bold;
    font-size: 20px;
    margin: 15px;
    text-transform: capitalize;
}